<mat-toolbar class = yyy color = "primary">
    <span><img src = "/assets/images/a logo.jpg" height = 30 width = 41></span>
    <a mat-button routerLink = '/home' routerLinkActive = "active"><span class = "fa fa-home"> Home </span></a>
    <a mat-button routerLinkActive = "active"> About </a>
    <a mat-button routerLink = '/menu' routerLinkActive = "active"> Menu </a>
    <a mat-button routerLink = '/contactus' routerLinkActive = "active"> Contact </a>
</mat-toolbar>

<div class = "container jumbotron"
fxLayout = "row"
fxLayout.sm = "column"
fxLayout.xs = "column"
fxLayoutAlign.xs = "start center"
fxLayoutAlign.sm = "start center"
fxLayoutAlign.gt-sm = "center center"
fxLayoutGap = "10px">

<div fxFlex fxFlex.gt-sm = "50%">
    <h1> Welcome to Aurora! </h1>
                    <h4> A safe space where your ideas and dreams are brought to reality with IT</h4>
                    <p> We Think, Fix and Build it with IT!</p>

</div>

<div fxFlex fxFlex.gt-sm = "20%">
    <!-- <img src = "/assets/images/a logo.jpg" height = 150 alt = "Logo"> -->
</div>
<div fxFlex></div>
</div>
