<div class = "container footer"
    fxLayout = "row wrap"
    fxLayout.lt-md = "column"
    fxLayoutAlign = "center center"
    fxLayoutGap = "10px">

    <div fxFlex = "100" fxFlex.gt-sm = "50">
        <div fxLayout = "row">
            <div fxFlex = "40" fxFlexOffset = "20px">
                <h4> Links </h4>
                <mat-list>
                    <mat-list-item><a mat-button routerLink = '/home'> Home </a></mat-list-item>
                    <mat-list-item><a mat-button routerLink = '/aboutus'> About </a></mat-list-item>
                    <mat-list-item><a mat-button routerLink = '/menu'> Menu </a></mat-list-item>
                    <mat-list-item><a mat-button routerLink = '/contactus'> Contact </a></mat-list-item>
                </mat-list>
            </div>

            <div fxFlex = "55">
                <h4> Our Address </h4>
                <address style = "text-size-adjust: 80%">
                    No 4, Victory Estate,<br>
                        off Arulogun Road,<br>
                        Ojoo,<br>
                        Ibadan, Nigeria.<br>
                        <i class = "fa fa-phone"></i> +234 703 930 2714<br>
                        <i class = "fa fa-envelope"></i > <a href = "mailto:idowubamimore@gmail.com"> idowubamimore@gmail.com </a>
                </address>
            </div>
        </div>
    </div>

    <div fxFlex = "100" fxFlex.gt-sm = "45">
        <div style = "text-align: center">
            <a mat-icon-button class = "btn-google-plus" href = "http://google.com"><i class = "fa fa-google-plus"></i></a>
            <a mat-icon-button class = "btn-facebook" href = "http://www.facebook.com"><i class = "fa fa-facebook"></i></a>
            <a mat-icon-button class = "btn-linkedin" href = "http://www.linkedin.com"><i class = "fa fa-linkedin"></i></a>
            <a mat-icon-button class = "btn-youtube" href = "http://youtube.com"><i class = "fa fa-youtube"></i></a>
            <a mat-icon-button class = "btn-twitter" href = "http://youtube.com"><i class = "fa fa-twitter"></i></a>
            <a mat-icon-button class = "btn-mail" href = "mailto:"><i class = "fa fa-envelope-o"></i></a>
        </div>
        <br>
        <div>
            <br>
            <p> Copyright 2021 Aurora Systems Inc. </p>
        </div>
    </div>

</div>
