<mat-toolbar class = "yyy" color = "primary">
    Login
    <span class = "flex-spacer"></span>
    <button class = "zzz" mat-button mat-dialog-close> &times; </button>
</mat-toolbar>

<!-- <p>{{user | json }}</p> -->

<form novalidate (ngSubmit) = "onSubmit()">
    <mat-dialog-content>
        <br>
        <br>
        
        <p>
            <mat-form-field>
                <input matInput placeholder = "Username" type = "text" [(ngModel)] = "user.username" name = "username">
            </mat-form-field>
                
            <mat-form-field>
                <input matInput placeholder = "Password" type = "password" [(ngModel)] = "user.password" name = "password">
            </mat-form-field>
            <br>
            <mat-checkbox [(ngModel)] = "user.remember" name = "remember"> Remember Me </mat-checkbox>
        </p>
    </mat-dialog-content>

    <mat-dialog-actions>
        <span class = "flex-spacer"></span>
        <button class = "zzz" mat-button mat-dialog-close> Cancel </button>
        <button class = "zzz"mat-button type = "submit"> Login </button>
    </mat-dialog-actions>
</form>
